<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolflix</title>
  <!-- link Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- CDN FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <!-- link CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- CDN Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <!-- CDN AXIOS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

</head>

<body>

  <div id="app">

    <header>
      <!-- logo -->
        <img src="img/logo-prime.png" alt="Logo Boolflix">
      <!-- nav centrale -->
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="#">Canali</a></li>
          <li class="dropdown"><a href="#">Categorie</a></li>
        </ul>
      </nav>
      <!-- ricerca -->
      <div class="search">
        <input type="query" placeholder="Cerca un titolo" v-model="query" @keyup.enter="search">
        <!-- <button @click="search">Cerca</button> -->
        <i class="fas fa-search"></i>
      </div>
    </header>


    <div class="container-movies">

      <div class="item-movie" v-for="item in arrayMovies">

        <!-- immagine -->
        <img v-if="item.poster_path != null" :src="'https://image.tmdb.org/t/p/w342/' + item.poster_path" :alt="item.title">
        <img v-else src="img/not-found.jpg" :alt="item.title">

        <!-- box nascosto con informazioni -->
        <div class="hidden">
          <!-- titolo -->
          <h3 class="title">{{ item.title || item.name }}</h3>
          <p class="description">{{ (item.overview.length > 0) ? item.overview : 'Descrizione non disponibile' }}</p>
          <!-- details(language and rate) -->
          <div class="details">
            <!-- lingua -->
            <img v-if="flagsAvailable.includes(item.original_language)" class="language" :src="'img/' + item.original_language + '.png'">
            <h4 v-else>{{ item.original_language }}</h4>
            <!-- stelle -->
            <h4 class="vote">
              <!--stella piena--><i class="fas fa-star" v-for="i in Math.floor(Math.round(item.vote_average) / 2)"></i><!-- mezza stella--><i class="fas fa-star-half-alt" v-if="(Math.round(item.vote_average) / 2) % 1 != 0"></i><!-- stella vuota--><i class="far fa-star" v-for="i in (5 - Math.round(Math.round(item.vote_average) / 2))"></i>
            </h4>
            <!-- anno -->
            <h4>{{ getYear(item.release_date || item.first_air_date) }}</h4>
          </div>
          <!-- generi -->
          <h4>
            <!-- se i generi sono indicati nell'array stampa questo -->
            <template v-if="item.genre_ids.length > 0">
              <span v-for="(element, i) in item.genre_ids" v-if="i != item.genre_ids.length -1">{{ getGenre(element) + ', ' }}</span>
              <span v-else>{{ getGenre(element) }}</span>
            </template>
            <!-- se i generi NON sono indicati nell'array stampa questo -->
            <template  v-else>
              <span>Genere non disponibile</span>
            </template>
          </h4>
        </div>


      </div>

    </div>


  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
